In [ ]:
!uname -a
# 학습결과 -> 구글 드라이브 저장 -> 다시 로딩해서 학습
# 딥러닝= 가중치를 학습

Linux 9be86ab93db6 5.10.147+ #1 SMP Sat Dec 10 16:00:40 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

In [ ]:
# shell 명령어 앞에 !
!pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 3.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [ ]:
import pymysql
con = pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                      db="sungjuk",charset="utf8",autocommit=True)
# 데이터베이스 명령어
# DDL : data definition : create(db,table 생성), drop(삭제), alter(수정)
# DML : data management language : select, insert into, update set, delete from
  # transaction 대상, trigger의 대상, commit의 대상
  # 데이터 베이스에 영향을 미치는 명령
  # commit 해야됨
# DCL : data control language : grant, 
# TCL : Transaction control language : 

rows

((2, '김만덕', '80', '99', '60', 239, 79.67, 'C', 'CH00000001'),
 (3, '고려인', '100', '99', '99', 298, 99.33, 'A', 'CH00000001'),
 (4, '전공인', '100', '81', '100', 281, 93.67, 'A', 'SE00000001'),
 (5, '전공이', '81', '81', '81', 243, 81.0, 'B', 'SE00000001'),
 (6, '전공삼', '91', '100', '100', 291, 97.0, 'A', 'CH00000001'),
 (7, '전공사', '100', '100', '100', 300, 100.0, 'A', 'CH00000001'),
 (8, '종로구', '100', '81', '71', 252, 84.0, 'B', 'IC00000001'),
 (10, '만세야', '80', '80', '80', 240, 80.0, 'B', 'CH00000001'),
 (12, '성식', '98', '97', '96', 291, 97.0, 'A', 'CH00000001'))

In [ ]:
# 예외처리
# connection 객체 (연결 객체)
# cursor 객체 (Query문을 실행하는 객체)
# cur=con.cursor()
try:
  with con.cursor() as cur: # with문 안에서 객체를 생성하면 with문이 종료와 더불어 객체도 닫힌다.
    cur.execute("select * from student") # resultset로 도착 (형식이 DB와 같음)
    rows=cur.fetchall() # fetchone() fetchmany() fetchall()
    # 파이썬에서 다량의 데이터를 사용하는 방법 : list, dict => default가 리스트이다.
    desc=cur.description
    for row in rows:
      print(f"{row[0]},{row[1]},{row[2]},{row[3]}")

finally:
  con.close() # os 차원에서 관리되기 때문에 안하면 자원이 낭비 or 계속 안 닫으면 나중에 못 들감

2,김만덕,80,99
3,고려인,100,99
4,전공인,100,81
5,전공이,81,81
6,전공삼,91,100
7,전공사,100,100
8,종로구,100,81
10,만세야,80,80
12,성식,98,97

In [ ]:
import pymysql
con = pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                      db="sungjuk",charset="utf8",autocommit=True)
try:
  with con.cursor() as cur: 
    cur.execute("select * from student") 
    rows=cur.fetchall() 
    desc=cur.description
    print(f"{desc[0][0]:<4} {desc[1][0]:>10} {desc[2][0]:>13} {desc[3][0]:>11}")
    for row in rows:
      print(f"{row[0]:<4} {row[1]:>10} {row[2]:>10} {row[3]:>10}")

finally:
  con.close() # os 차원에서 관리되기 때문에 안하면 자원이 낭비 or 계속 안 닫으면 나중에 못 들감

bunho       name           kor         mat
2           김만덕         80         99
3           고려인        100         99
4           전공인        100         81
5           전공이         81         81
6           전공삼         91        100
7           전공사        100        100
8           종로구        100         81
10          만세야         80         80
12           성식         98         97

In [ ]:
print(desc)
# 열 이름만 선택
print([i[0] for i in cur.description])

(('bunho', 3, None, 11, 11, 0, False), ('name', 253, None, 50, 50, 0, False), ('kor', 252, None, 765, 765, 0, True), ('mat', 252, None, 765, 765, 0, True), ('eng', 252, None, 765, 765, 0, True), ('total', 3, None, 11, 11, 0, True), ('average', 4, None, 12, 12, 31, True), ('grade', 254, None, 150, 150, 0, True), ('schoolcode', 254, None, 30, 30, 0, True))
['bunho', 'name', 'kor', 'mat', 'eng', 'total', 'average', 'grade', 'schoolcode']

In [ ]:
# 문제
# 열이름을 출력하고 데이터를 출력해보시오
row
print([i[0] for i in cur.description])
for row in rows:
  print(row[0:9])

['bunho', 'name', 'kor', 'mat', 'eng', 'total', 'average', 'grade', 'schoolcode']
(2, '김만덕', '80', '99', '60', 239, 79.67, 'C', 'CH00000001')
(3, '고려인', '100', '99', '99', 298, 99.33, 'A', 'CH00000001')
(4, '전공인', '100', '81', '100', 281, 93.67, 'A', 'SE00000001')
(5, '전공이', '81', '81', '81', 243, 81.0, 'B', 'SE00000001')
(6, '전공삼', '91', '100', '100', 291, 97.0, 'A', 'CH00000001')
(7, '전공사', '100', '100', '100', 300, 100.0, 'A', 'CH00000001')
(8, '종로구', '100', '81', '71', 252, 84.0, 'B', 'IC00000001')
(10, '만세야', '80', '80', '80', 240, 80.0, 'B', 'CH00000001')
(12, '성식', '98', '97', '96', 291, 97.0, 'A', 'CH00000001')

In [ ]:
# 문제
# 번호가 5번 미만만인 데이터만 Query에 출력

import pymysql
con = pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                      db="sungjuk",charset="utf8",autocommit=True)
myid=5
try:
  with con.cursor() as cur: 
    cur.execute("select * from student where bunho<%s",myid) 
    rows=cur.fetchall() 
    desc=cur.description
    print(f"{desc[0][0]:<4} {desc[1][0]:>10} {desc[2][0]:>13} {desc[3][0]:>11}")
    for row in rows:
        print(f"{row[0]:<5} {row[1]:>10} {row[2]:>10} {row[3]:>10}")

finally:
  con.close() # os 차원에서 관리되기 때문에 안하면 자원이 낭비 or 계속 안 닫으면 나중에 못 들감

bunho       name           kor         mat
2            김만덕         80         99
3            고려인        100         99
4            전공인        100         81